body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 15rem auto 0 auto;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
